.body_background{
    background-image: url("Background.jpeg");
    background-size: cover;
    background-position: center;

}
h1{
    color: slategray;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Draw{
    border-width: 10px;
    background-color: slategray;
    border-style: groove;
}
body{
    cursor: pointer;
}
input{
    margin-right: 20px;
}
button{
    background-color: palevioletred;
    border: none;
    color: darkgray;
    padding: 10px 32px;
    font-size: 18px;
}